$transition-default: 500ms cubic-bezier(0.19, 1, 0.22, 1);
$transition-button--animated: 550ms cubic-bezier(0.19, 1, 0.22, 1);

%transition {
  transition: $transition-default;
  transition-property: color, background-color, transform;
}
