$color-scrollbar-thumb: $color-dark-cyan;

$color-calculator-background: $color-white;
$color-calculator-outputs: $color-very-dark-cyan;
$color-calculator-label: $color-dark-grayish-cyan;
$color-calculator-label-output: $color-white;
$color-calculator-per-person: $color-grayish-cyan;
$color-calculator-output: $color-strong-cyan;

$color-input-background: $color-very-light-grayish-cyan;
$color-input-text: $color-very-dark-cyan;
$color-input-caret: $color-strong-cyan;
$color-input-border: $color-strong-cyan;
$color-input-placeholder: $color-very-dark-cyan;
$color-input-custom-tip-placeholder: $color-dark-grayish-cyan;

$color-button-tip-background: $color-very-dark-cyan;
$color-button-tip-text: $color-white;
$color-button-tip-hover-background: $color-light-cyan;
$color-button-tip-hover-text: $color-very-dark-cyan;
$color-button-tip-active-background: $color-strong-cyan;
$color-button-tip-active-text: $color-very-dark-cyan;

$color-button-reset-background: $color-strong-cyan;
$color-button-reset-text: $color-very-dark-cyan;
$color-button-reset-disabled-background: $color-dark-cyan;
$color-button-reset-disabled-text: $color-dark-cyan-2;
$color-button-reset-hover-background: $color-light-cyan;
$color-button-reset-hover-text: $color-very-dark-cyan;

::-webkit-scrollbar-thumb {
  background-color: $color-scrollbar-thumb;
}

label {
  color: $color-calculator-label;
}

.calculator {
  background-color: $color-calculator-background;

  &__outputs {
    background-color: $color-calculator-outputs;
  }
}

.input {
  background-color: $color-input-background;
  color: $color-input-text;
  caret-color: $color-input-caret;

  &:focus {
    border-color: $color-input-border;
  }
}

.input--bill::placeholder,
.input--people::placeholder {
  color: $color-input-placeholder;
  opacity: 0.35;
}

.input--custom-tip::placeholder {
  color: $color-input-custom-tip-placeholder;
}

.button--tip {
  background-color: $color-button-tip-background;
  color: $color-button-tip-text;

  @extend %transition;

  // &:hover {
  //   background-color: $color-button-tip-hover-background;
  //   color: $color-button-tip-hover-text;
  // }

  &[data-active='true'] {
    background-color: $color-button-tip-active-background;
    color: $color-button-tip-active-text;
  }
}
.calculator__label--tip-amount,
.calculator__label--total {
  color: $color-calculator-label-output;
}

.calculator__per-person {
  color: $color-calculator-per-person;
}
.calculator__output {
  color: $color-calculator-output;
}

.button--reset {
  background-color: $color-button-reset-background;
  color: $color-button-reset-text;

  @extend %transition;

  &:disabled {
    background-color: $color-button-reset-disabled-background;
    color: $color-button-reset-disabled-text;
  }

  &:not(:disabled):hover {
    background-color: $color-button-reset-hover-background;
    color: $color-button-reset-hover-text;
  }
}
