label {
  color: $color-dark-grayish-cyan;
}

.calculator {
  background-color: #fff;

  &__outputs {
    background-color: $color-very-dark-cyan;
  }
}

.input {
  background-color: $color-very-light-grayish-cyan;
  color: $color-very-dark-cyan;
  caret-color: $color-strong-cyan;

  &:focus {
    border-color: $color-strong-cyan;
  }
}

.input--bill::placeholder,
.input--people::placeholder {
  color: $color-very-dark-cyan;
  opacity: 0.35;
}

.input--custom-tip::placeholder {
  color: $color-dark-grayish-cyan;
}

.button--tip {
  background-color: $color-very-dark-cyan;
  color: $color-white;

  &[data-active='true'] {
    background-color: $color-strong-cyan;
    color: $color-very-dark-cyan;
  }

  &:hover {
    background-color: $color-light-cyan;
    color: $color-very-dark-cyan;
  }
}
.calculator__label--tip-amount,
.calculator__label--total {
  color: $color-white;
}

.calculator__per-person {
  color: $color-grayish-cyan;
}
.calculator__output {
  color: $color-strong-cyan;
}

.button--reset {
  background-color: $color-strong-cyan;
  color: $color-very-dark-cyan;

  &:disabled {
    background-color: $color-dark-cyan;
  }

  &:enabled:hover {
    background-color: $color-light-cyan;
    color: $color-very-dark-cyan;
  }
}
