html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;

  // border: 1px dashed grey;
}

body {
  background-color: $color-light-grayish-cyan;
}

main {
  min-height: 100vh;
  width: 100%;

  display: grid;
  place-items: center;
}
